
[Unit]
Description=Relative Path Express App

[Service]
Type=simple
ExecStartPre=/usr/local/bin/npm install
ExecStart=/usr/local/bin/node app.js
WorkingDirectory=/home/ubuntu

User=nobody
Group=nogroup

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
